@model WebQuanLyLopHoc_Nhom8.Models.HOCSINH

@{
    ViewBag.Title = "Edit";
}

<h2>Chỉnh sửa thông tin học sinh</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thông tin</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaHS)

        <div class="form-group">
            <label>Họ và tên: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenHS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenHS, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group">
            <label>Ngày sinhh: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group">
            <label>Giới tính: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group">
            <label>Quê quán: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.QueQuan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QueQuan, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group">
            <label>SĐT: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group">
            <label>Hình ảnh: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.HinhAnh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group">
            <label>Lớp: </label>
            <div class="col-md-10">
                @Html.DropDownList("MaLH", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LOPHOC.TenLH, "", new { @class = "text-danger" })
            </div>
        </div>
        <br /><hr /><br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
                <input type="reset" value="Xóa thông tin" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<br />
<div>
    @Html.ActionLink("Hủy", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
