@model WebQuanLyLopHoc_Nhom8.Models.GIAOVIEN

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa giáo viên</h2>

<h3>Bạn có chắc muốn xóa giáo viên này không?</h3>
<div>
    <h4>Thông tin giáo viên muốn xóa: </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Môn dạy:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONHOC.TenMH)
        </dd>

        <dt>
            Tên giáo viên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenGV)
        </dd>

        <dt>
            Ngày sinh:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            Giới tính:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            Quê quán:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueQuan)
        </dd>

        <dt>
            SĐT:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Hủy", "Index")
        </div>
    }
</div>
