@model WebQuanLyLopHoc_Nhom8.Models.LOPHOC

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa lớp học</h2>

<h3>Bạn có chắc muốn xóa lớp học này?</h3>
<div>
    <h4>Thông tin lớp học cần xóa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Lớp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLH)
        </dd>

        <dt>
            Khối
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHOI.TenKhoi)
        </dd>

        <dt>
            Giáo viên chủ nhiệm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAOVIEN.TenGV)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Hủy", "Index")
        </div>
    }
</div>
